.button-primary{
	-fx-background-color:  #7B66FF;
	-fx-text-fill:  white;
	-fx-border-radius: 2;
	-fx-font-weight:  bold;
}
.button-primary:hover{
	-fx-background-color:  #7B66FF;
	-fx-text-fill:  white;
	-fx-border-radius: 2;
	-fx-font-weight:  bold;
}
.button-primary:pressed{
	-fx-background-color:  #7B66FF;
	-fx-text-fill:  white;
	-fx-border-radius: 2;
	-fx-font-weight:  bold;
}

.button-normal{
	-fx-text-fill:  #7B66FF;
	-fx-background-color:  white;
	-fx-border-color: #7B66FF;
	-fx-border-width: 2;
	-fx-font-weight: bold;
}
.button-normal:hover{
	-fx-text-fill:  #7B66FF;
	-fx-background-color:  white;
	-fx-border-color: #7B66FF;
	-fx-border-width: 2;
	-fx-font-weight: bold;
}
.button-normal:pressed{
	-fx-text-fill:  #7B66FF;
	-fx-background-color:  white;
	-fx-border-color: #7B66FF;
	-fx-border-width: 2;
	-fx-font-weight: bold;
}
.table-button-not-choosen{
	-fx-background-color: white;
	-fx-background-radius: 0;
	-fx-border-radius: 0;
}
.table-button-not-choosen:hover{
	-fx-background-color: white;
	-fx-background-radius: 0;
	-fx-border-radius: 0;
}
.table-button-not-choosen:pressed{
	-fx-background-color: white;
	-fx-background-radius: 0;
	-fx-border-radius: 0;
}
.table-button-choosen{
	-fx-text-fill: white;
	-fx-background-color:  #5FBDFF;
	-fx-font-weight:  bold;
	-fx-background-radius: 0;
	-fx-border-radius: 0;
		-fx-font-weight: bold;
	
}
.table-button-choosen:hover{
	-fx-text-fill: white;
	-fx-background-color:  #5FBDFF;
	-fx-font-weight:  bold;
	-fx-background-radius: 0;
	-fx-border-radius: 0;
		-fx-font-weight: bold;
	
}
.table-button-choosen:pressed{
	-fx-text-fill: white;
	-fx-background-color:  #5FBDFF;
	-fx-font-weight:  bold;
	-fx-background-radius: 0;
	-fx-border-radius: 0;
	-fx-font-weight: bold;
}
.table-button{
	-fx-alignment: LEFT;
	-fx-pref-width:280;
	-fx-max-height: 40;
	-fx-font-size: 16;
}